body
{
    background: #F2CA99;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment{
    width: 22%;
    padding:20px 10px;
    margin: 10px;
    background: #A62121;
    border-radius: 25px;
}

.assignment img{
    width:250px;
    margin: 10px;
    border: 4px dashed #423259;
    display: block;
    margin:auto;
}

.assignment img:hover{
    border: 4px dashed purple;
}

h1
{
    color: #36736D;
    text-align: center;
}

h1:hover
{
    color: purple;
}

h2{
    text-align: center;
}

a{
    text-decoration:none;
    color:#AFEEEE;
}

a:hover {
    color: purple;
}